
:root {
  --primary: transparent;
  --secondary: transparent
}

@tailwind base;

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: .3rem;

}

*::-webkit-scrollbar-track {
    width: .3rem;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
}


@tailwind components;
@tailwind utilities;


@layer base {
  html,body{
    @apply bg-gray-800;
    @apply text-gray-100;
    @apply leading-relaxed;
    

  }

  h1, h2,h3,h4,h5,h6, button{
    @apply leading-snug;
    @apply font-bold;  
  }

  button,{
    @apply focus:ring-blue-500 transition-colors focus:outline-none focus:ring-2
    
  } 

  .wrapperCustomClass{
    @apply max-w-[1900px] mx-auto px-4 h-screen 
  }
}